h3{
    margin: 0;
    padding: 0;
    justify-content: center;
}
p{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    display:flex;
    align-items: center;
    background-color: rgb(221, 241, 241);
    opacity: 0.5;

}
.logo{
    margin:7px 14px;

}
.logo img{
    height:33px;
    width: 33px;
    margin: 5px 3px;
    opacity: 1.3;
}
.logo .img :hover{
    background-color: wheat;
    border-radius: 50px;
    padding: 3px;

}
.navigationbox {
    display: flex;
    justify-content: right;
    padding-left: 47rem;
    
}


.navigationbox .item {
    list-style: none;
    padding-right: 5px; 
    text-decoration: none;
}
.navigationbox li a {
    text-decoration: none;
    cursor: pointer;
}
.here .item{
    padding: 5px;
    font-size: 1.2rem;
}
.here .item :hover{
    background-color: wheat;
    border-radius: 5px;
    padding: 3px;
    
}

#home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 60px;
    height: 200px;
    
}


#home::before{
    content: " ";
     position: absolute;
     background:url(images/HOME.jpg) no-repeat center center/cover;
    height: 90%;
     width: 100%; 
      z-index: -1;
       opacity: 0.6 ;
}


.first{
     font-size: 3rem;
     margin-bottom: 0;
     
}


.second{
    font-family: 'Supermercado One', cursive;
    font-size: 1.5rem;
    margin-top: 0;
    color: rgb(110, 11, 71);
}


.fgh{
    margin-top: 115px;
    text-align: center;
    background-color: antiquewhite;
    margin-bottom: 0 px;
}
.fgh h1{
    margin-bottom: 0%;
}



.order{
    display: flex;
  
}

.order::before{
    content: " ";
     position: absolute;
     background:url(images/cont.jpg) no-repeat center center/cover;
    height: 75%;
     width: 100%; 
      z-index: -1;
       opacity: 0.4 ;
 }
.order .al{
    width: 155px;
    margin: auto;

}
.left1{
    height: 350px;
    width: 48%;
    


}
.right1{
    height: 350px;
    width: 48%;
    
    margin-left: 50px;


}

.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-group{
    padding-bottom: 2px;
    width: 40%;
    height: 5%;
}
.contact-box input,
.contact-box textarea{
    width: 100%;
    padding: 4px;
    border-radius: 6px;
}
.contact-box label{
    font-size: 1.3rem;
}
/* end part*/
.follow img{
    height: 34px;
    width: 45px;
    padding: 4px;
    margin-right: 5px;
}
.follow img:hover{
    background-color: wheat;
    border-radius: 3px;
    padding: 3px;
}
.follow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    

}
#about{
    position: relative;
    margin-top: 20px;
}

.end {
    background-color: rgb(24, 69, 3);

}

.center{
    
    color:white;
    text-align: center;
    justify-content: center;
    
}
.end .last{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}
.last p{
    margin: 5px;
}


.container{
    height: 1300px;
    width: 100%;
    
}
.categories{
    padding: 4% 0;
    
}

.box-3{
    width: 29%;
    float: left;
    margin: 2%;
    text-align: center;
}
  .img-responsive {
    height: 250px;
    width: 250px;
    border-radius: 15px;
    
}
.text-center{
    align-items: center;
    margin-top: 80px;
    margin-left: 40%;
    margin-bottom: 0;
}