.order{
    text-decoration: none;
    display: block;
}
.order:hover{
    background: rgb(234, 212, 212);
}
h3{
    color: rgb(18, 180, 126);
}
body
{
    margin: 0;
    padding: 0;
}
#navbar{
    display:flex;
    position: absolute;
    align-items: center;

}
.logo{
    margin:7px 14px;

}
.logo img{
    height:33px;
    width: 33px;
    margin: 5px 3px;
}
.navigationbox {
    display: flex;
    padding-left: 0rem;
    position: sticky;
    
    
}
#home p{
    font-family: 'Supermercado One', cursive;

}
.here{
    align-items: center;
    justify-content: center;
}
.navigationbox li {
    list-style: none;
    padding-right: 5px;
    
    
}
.navigationbox li a {
    text-decoration: none;
    cursor: pointer;
    align-items: right;
}
#navbar::before{
    content: " ";
    background-color: grey;
    position: absolute;
    height: 100%;
    width: 100%;
     z-index: -1;
     opacity: 0.2;
}
#home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 60px;
    height: 278px;
    
}
#home::before{
content: " ";
 position: absolute;
 background:url(images/use.jpg) no-repeat center center/cover;
height: 90%;
 width: 100%; 
  z-index: -1;
   opacity: 0.6 ;

 }
 #home h1{
     font-size: 3rem;
     color:black;
     text-align: center;
     margin:0;
     padding: 12px;

 }
 #home p{
     font-size: 1.6rem;
     color: rgb(105, 7, 105);
     margin: 0;
     
 }
 .head h1{
     margin:45px;  
     margin-bottom: 3px; 
     margin-top: 85px; 
 }
 #services .head{
    width: 298px;
    margin-top:68px;
       margin-left: auto;
    margin-right: auto;
    
    
 }
 #services .box{
     display: flex;
     
 }
 #services .order{
     border: solid burlywood 2px;
     margin: 5px;
     text-align: center;
     border-radius: 17px;
     padding: 25px;
     width: 33%;
 }
 #services img{
     height: 110px;
 }
 #contact .al{
    width: 155px;
    margin-top: 0px;
    margin-left: 45%;
       
 }
 #contact{
     position: relative;
 }
 #contact::before{
    content: " ";
     position: absolute;
     background:url(images/cont.jpg) no-repeat center center/cover;
    height: 106%;
     width: 100%; 
      z-index: -1;
       opacity: 0.4 ;
    
     }
h2,h3{
    margin-top: 0;
}
    
 .contact-box{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .form-group{
     padding-bottom: 2px;
     width: 40%;
     height: 5%;
 }
 .contact-box input,
 .contact-box textarea{
     width: 100%;
     padding: 4px;
     border-radius: 6px;
 }
 .contact-box label{
     font-size: 1.3rem;
 } 
 #about::before{
    content: " ";
     position: absolute;
     background-color: rgb(62, 119, 5);
    height: 106%;
     width: 100%; 
      z-index: -1;
       opacity: 0.4 ;
    

     }
.follow img{
    height: 34px;
    width: 45px;
    padding: 4px;
    margin-right: 5px;
}
.follow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    

}
#about{
    position: relative;
    margin-top: 0px;
    background-color:gainsboro;
}
#about .al{
    width: 155px;
    margin: auto;
}
.end {
    background-color: black;
    color: white;

}
 .center{
    
    color:white;
    text-align: center;
    justify-content: center;
    
}
.here .item{
    padding: 5px;
    font-size: 1.2rem;
}
.here .item :hover{
    background-color: wheat;
    border-radius: 5px;
    padding: 3px;
}
.end .last{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}
.last p{
    margin: 5px;
}
.btn{
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color: #596660;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.btn-primary:hover{
    color:rgba(11, 0, 0, 0.913) ;
    background-color: rgba(65, 97, 158, 0.467)
}
.bnx{
    margin-bottom: 3px;
}
